#topnav {
  /* position: fixed; */
  /* display: table; */
  background-color: rgb(95, 95, 95);
  top: 0px;
  width: 100%;
  left: 0px;
  float: left;
}

.topnav {
  z-index: 2;
  font-size: 17px;
  background-color: rgb(95, 95, 95);
  width: 100%;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Arial, sans-serif;
  /* line-height: 1.5; */
}

.topbar-left {
  /* float: left !important; */
}

.topnav a {
  padding: 10px 15px 9px 15px;
}

.topnav-bar {
  /* float: left;
  width: auto;
  border: none;
  display: block;
  outline: none; */
}

.topnav-bar-item {
  font-size: 22px;
  width: 52px !important;
}

/* .w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
} */
