#main-nav {
  /* position: fixed; */
  height: 5%;
  background-color: darkslateblue;
  color: white;
  display: flex;
  /* flex-grow: 1; */
  align-items: center;
  align-content: center;
  text-align: center;
}

#main-nav a {
  color: white;
  flex-grow: 1;
}

#main-nav button {
  flex-grow: 1;
}

#btn-submit {
  background-color: #75d375;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  /* padding-left: -25px; */
  /* height: 100%; */
}

#btn-submit.btn-disabled {
  background-color: rgb(170, 167, 167);
  cursor: default;
}
